# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
htmlcov/
nosetests.xml
pylintrc
.dmypy.json
dmypy.json
.mypy_cache/
.pytest_cache/
.hypothesis/
.nox/

# Editors / OS
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Databases
*.db
*.sqlite3

